{{>layout/header}}
    <h1> Chaegang Cafe 입니다. Ver 1.0.1 </h1>
    <div class = "col-md-12">
        <!-- 글쓰기 -->
        <div class="row">
            <div class = "col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록하기</a>
                <!-- 로그인이 되어 userName 이 있을때 -->
                {{#loginUserName}}
                    로그인 정보 : <span id="user">{{loginUserName}}</span>
                    <!-- 스프링 시큐리티에서 기본으로 제공된 logout -->
                    <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
                {{/loginUserName}}
                <!-- 로그인이 되지않아 userName 이 없을때 -->
                {{^loginUserName}}
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">구글 로그인</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">네이버 로그인</a>
                {{/loginUserName}}
            </div>
        </div>
        <br>
        <!-- 목록 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
                <tr>
                    <th>게시글 번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>최종수정일</th>
                </tr>
            </thead>
            <tbody id="tbody">
            <!-- posts라는 List 순회 -->
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <!-- title 누르면 update 페이지로 이동 -->
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>
{{>layout/footer}}